body {
    font-family: arial;
}

img {
  width: 300px;
  height: 310px;
}

p {
  margin: 2px;
}
.page {
  margin-left: 225px;
  margin-right: 225px;
  min-height: 600px;
  height: auto !important;
  height: 600px;

}
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.nav {
  list-style-type: none;
  margin: 0;

  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  background-color: black;
}

.nav-li {

}

.nav-a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: black;
}

.nav-a:hover{
  background-color: gray;
}
.content {
  padding-left: 25px;
  padding-right: 25px;
}
.flex-content{
    display: flex;
    justify-content: space-between;
}
.text-box {
  width: 425px;
}
